@import '../../theme.css';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.logo-text {
  display: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  line-height: 32px;
}

.right-content {
  display: flex;
  align-items: center;
}

.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.username {
  color: var(--text-color);
  margin-left: 8px;
}